<div><app-vault></app-vault></div>
<div class="container">

  <div class="product-list">
    <app-invoices-search (searchChange)="onSearchName($event)"></app-invoices-search>
    <app-invoices-searchnum (searchChangenum)="onSearchnum($event)"></app-invoices-searchnum>
    <div class="list-header">
      <span>clientName</span>
      <span>invoice number</span>

      <span>Type</span>
      <span>date</span>
      <span>total</span>
      <button class="btn btn-success" [routerLink]="['/addinvoice']">Add inoice</button>



      <span class="actions-col"></span>
    </div>


    @for (invoice of invoices; track $index) {
    <div class="product-card" [routerLink]="['/invoicesdetails',invoice._id]">
      <div class="product-name">{{ invoice.clientName}}</div>
      <div class="product-name">{{ invoice.invoiceNumber}}</div>


      <div class="product-price">{{ invoice.invType}}</div>
      <div class="product-price">{{ invoice.date}}</div>
      <div class="product-category">{{ invoice.finalTotal }}</div>






    </div>

    } @empty {
    <div class="empty-state">No products found.</div>
    }


  </div>
